/*頁尾*/
.footerBar{
	width: 100%;
	height:4.3rem;
	margin-top: 3rem;
	background-color: #ccc;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 50%;
	padding-top:0.75rem;
}
.footer{
	width: 80%;
	margin: auto;
	text-align: center;
}
.friendLink ul{
	display: inline-block;
	overflow: auto;
}
.friendLink ul li{
	display: inline;
	float: left;
	margin-right: 1rem;
}
.friendLink ul li a,.registerInfo,.anyOne{
	font-size: 0.8rem;
}