.contentBar{
	width: 80%;
	margin:auto;
	margin-top: 1rem;
}
.leftSideNav{
	float:left;
	width: 10rem;
	margin-right: 1rem;
}
.leftSideNav table{
	width: 10rem;
	box-shadow:#ccc 0.25rem 0.25rem 0.25rem;
}
.leftSideNav table tbody tr{
	background-color: #fff;
}
.leftSideNav table tbody th{
	background-color: #aeaeae;
}
.leftSideNav table tr{
	width:10rem;
	height:3rem;
	text-align: center;
}
.leftSideNav table tbody tr a{
	display: block;
	width: 10rem;
	height:3rem;
	line-height: 3rem;
	font-size: 0.8rem;
}
.leftSideNav table tbody tr a:hover{
	background-color:#ccc;
}