#reg{
	display: none;
	position: relative;
	z-index: 10;
	background-color: #000;
}
#reg form{
	width: 24%;
	background-color: #fff;
	position: fixed;
	left: 38%;
}
.registerBox{
	margin: 0 auto 1rem auto;
	text-align: center;
}
.subInfo{
	width: 12rem;
	height: 1.25rem;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}
.btn{
	margin: 1rem 2rem 0 2rem;
	width: 5rem;
	font-size: 0.8rem;
}
label{
	display: inline-block;
	width: 4rem;
	text-align: right;
	font-size: 0.8rem;
}
.close{
	width: 1rem;
	font-size: 1rem;
	float: right;
	margin: 0.5rem 1rem 0 0;
}